<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bloomain"
        android:usesCleartextTraffic="true" >




        <activity
            android:name=".authentication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".authentication.RegisterActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".profile.SettingsActivity" />
        <activity android:name=".feed.PostMakerActivity" />
        <activity android:name=".feed.FeedActivity" />
        <activity android:name=".profile.EditImageActivity"/>
        <activity android:name=".profile.EditCredentialsActivity"/>
        <activity android:name=".feed.CreatePostActivity"/>
        <activity android:name=".feed.SelectLocationActivity"/>
        <activity android:name=".feed.CommentsActivity"/>
        <activity android:name=".feed.PostDetailActivity"/>
        <activity android:name=".feed.SearchActivity"/>
        <activity android:name=".authentication.AboutActivity"/>
        <activity android:name=".feed.ViewLocationActivity"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>


</manifest>